a img {
	border:0 none;
}

a.button {
    background: transparent url('../images/buttonright.png') no-repeat scroll bottom right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 35px;/*half of image size*/
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('../images/buttonleft.png') no-repeat bottom;
    display: block;
    line-height: 35px;
    padding: 0px 0 0px 0px;
	font-size:23px;
} 

a.HereButton {
    background: transparent url('../images/buttonright.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 35px;/*half of image size*/
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.HereButton span {
    background: transparent url('../images/buttonleft.png') no-repeat top left;
    display: block;
    line-height: 35px;
    padding: 0px 0 0px 18px;
	font-size:23px;
}



#content h1 {
	color:#000;
}
#content h2 {
	color:#000;
}
#content h3{
	color:#000;
	font-size:24px;
	font-style:oblique;
}
#content p {
	color:#000;
	font-size:23px;
}
#content ol{
	color:#000;
	font-size:23px;
}
#content ul{
	color:#000;
	font-size:23px;
}
#content span{
	color:#000;
	font-size:23px;
}
.codetext{
	font-family:"Courier New", Courier, monospace;
}
a, a:link {
 color:#000;
}
a:hover {
	color:#0012A1;
}
a:active {
	color:#9709B8;
}
.nomargin{
	margin-top:0;
	clear:left;
}
.listmargin{
	margin-bottom:8px;
}
body {
	/*background-image:url(../images/background.png);*/
	background-color:#EBECE4;
	background-attachment:fixed;
}
#wrapper {
	border:#000000;
	display:block;
	position:relative;
	width:1000px;
	margin: 0px auto;
	margin-top: 6px;
	margin-bottom: 6px;
}
#banner {
	background-image:url(../images/topBanner1.png);
	width:1000px;
	height:80px;
	background-position:top;
	background-repeat:no-repeat;
}
.horzspacer {
	width: 1000px;
	height: 16px;
	clear: both;
}
#horznav {
	background-image:url(../images/TopMenu.png);
	width:1000px;
	height:170px;
}
#leftnav{
	float:left; 
	padding-left:25px;
	padding-top:15px;
}

#menu {
	float:left;
	padding-right:40px;
	margin-bottom:0px;
	clear:right;
}
#contentwrapper {
	width:1000px;
}
.floatleft {
	float: left;
}
#topmiddle {
	float: left;
	height: 18px;
	width: 968px;
	background-color: rgb(255, 255, 255);
}
.floatright {
	float: right;
	clear: right;
}
#content {
	padding:0px 20px 20px;
	width: 960px;
	background-color: rgb(255, 255, 255);
	clear: left;
}
#contactlbox{
	width:465px;
	float:left;
	border:groove;
	padding-left:10px;
	background-color:#DDD;
}
#contactrbox{
	width:450px;
	float:right;
	border:groove;
	padding-left:10px;
	background-color:#DDD;
}
#bottommiddle {
	float: left;
	height: 18px;
	width: 968px;
	background-color: rgb(255, 255, 255);
}
#footerwrapper {
	
	width:1000px;
	height:90px;
	clear:both;
}
#footerleft {
	padding-left:20px;
	padding-top:18px;
	float:left;
	color:#000;
	font-size:24px;
}
#footerright{
	float:right; 
	padding-right:50px;
	padding-top:0px;
}