/* ------ set of styles used for the frontpage -----*/
#top-pane-left {
   width:468px; 
   vertical-align:top;
}
#top-pane-left-message {
   font-size:1.1em;
   padding:5px 0px 5px 0px;
   text-align:justify;}
a.learn-more {
   font-size:1.1em;
}
#cloud { 
   margin:7px 0px 7px 0px; 
   background-image: url('tag_cloud.gif');background-repeat: no-repeat;
   height: 84px;
   width: 468px;
}
#cloud a {
   text-decoration:none;
}
#cloud div.head-link {
   padding:7px 0px 2px 12px;
   _padding:7px 0px 2px 10px;
}
#cloud div.technologies {
   height:60px;
   color:#0e1b55;
   margin:3px 0px 0px 12px;
   _margin:4px 0px 0px 10px;
   width:452px;
   _width:455px;
}
.cloud-small { 
   font-size: 9px;
}
.cloud-normal { 
   font-size: 12px;
}
.cloud-big { 
   font-size: 14px;
}
#news-pane {
   margin:180px 0px 0px 40px;
   border-left:1px solid white;
   padding-left:10px;
}
.newsticker {
   list-style-type: none;
   border: none;
   padding: 3px;margin: 0;
}
#bottom-pane-frontpage {
   background-image:url('bottom-frontpage-bg.png');
   background-repeat:repeat-x;
}
#bottom-pane-frontpage h1 {
   color: #ff8e00;font-size:1.1em;
   font-weight: bold;
}
a.frontpage:link, a.frontpage:active, a.frontpage:visited { 
   text-decoration:none;
   color:#ff8e00; 
   font-weight:bold; 
   background-color:none;
}
a.frontpage:hover {
   text-decoration:underline; 
   color:#ff8e00; 
   font-weight:bold; 
   background-color:white;
}
.promo-pane {
   width:25%;
   padding:12px 10px 0px 10px;
   margin:0px;
}
.promo-text {
   height:45px;
   padding-bottom:7px;
}
.promo-text2 {
   padding:0px 0px 12px 10px;
}
.dvd-img {
   margin-bottom:-8px;
}
.dvd-link{}
