/* 
Document   : statistics
Created on : Nov 18, 2008, 1:23:51 PM
Author     : honza
Description:
Purpose of the stylesheet follows.
*/

/* 
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

tr.a {
    background-color: #eeeeee;
}
tr.b {
    background-color: #cccccc;
}

div.editable {
    border-style:dashed;
    border-width: 1px;
    float:left;
}
span.editable {
    float:right;
    color: #333333;
    font-size:10px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

div.dialog {
    width: 800px;
    max-width: 800px;
}

.stacktrace {
    background-color:#FFF8E4;
    font-family: 'Courier New', monospace;
    font-size: 1.2em;
    _font-size: 1.1em;
    width:800px;
    height:385px;
    overflow: auto;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
}

.logger {
    background-color:#FFF8E4;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size: 1.2em;
    _font-size: 1.1em;
    width:800px;
    height:385px;
    overflow: auto;
}
.wrap {
    width: 800px;
    word-wrap: break-word;
}

div.wrapper {
    background-color:#FFF8E4;
    font-family: 'Courier New', monospace;
    font-size: 1.0em;
    _font-size: 1.0em;
    height:400px;
 /*   
    position: relative;
    width:900px;
    
    clear: both;
    */
}

div.left {
    width: 450px;
    height:385px;
    overflow: auto;
    float:left;
}

span.time_info {
    width: 150px;
}

div.right {
    max-width: 1000px;
    height:385px;
    overflow: auto;
}

pre.unbroken{
    margin: 0px 0px 0px 0px;
    }
