/* tables */
table.tablesorter {
	font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;

	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #DDDDDD;
	border: 0px;
	font-size: 8pt;
	padding: 0px;
}
table.tablesorter thead tr .header {
	background-image: url(/resources/images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 1px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#DDDDDD;
}
table.tablesorter tbody tr.even td {
	background-color:#EEEEEE;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/resources/images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/resources/images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}
