<?xml version="1.0" encoding="UTF-8"?>
<taglib version="2.0" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-jsptaglibrary_2_0.xsd">
  <tlib-version>1.0</tlib-version>
  <short-name>statistics</short-name>
  <uri>/WEB-INF/tlds/statistics</uri>
  <!-- A validator verifies that the tags are used correctly at JSP
         translation time. Validator entries look like this:
      <validator>
          <validator-class>com.mycompany.TagLibValidator</validator-class>
          <init-param>
             <param-name>parameter</param-name>
             <param-value>value</param-value>
	  </init-param>
      </validator>
   -->
  <!-- A tag library can register Servlet Context event listeners in
        case it needs to react to such events. Listener entries look
        like this:
     <listener>
         <listener-class>com.mycompany.TagLibListener</listener-class>
     </listener>
   -->
  <tag>
    <name>useStatistic</name>
    <tag-class>org.netbeans.server.uihandler.StatisticsTag</tag-class>
    <body-content>scriptless</body-content>
    <attribute>
      <name>name</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
  </tag>
  <tag>
    <name>pie</name>
    <tag-class>org.netbeans.web.tags.PieChart</tag-class>
    <body-content>empty</body-content>
    <attribute>
      <name>collection</name>
      <rtexprvalue>true</rtexprvalue>
      <required>true</required>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>category</name>
      <rtexprvalue>true</rtexprvalue>
      <required>true</required>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>value</name>
      <rtexprvalue>true</rtexprvalue>
      <required>true</required>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>title</name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>resolution</name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>lblformat </name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>colors</name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
  </tag>
  <tag>
    <name>bar</name>
    <tag-class>org.netbeans.web.tags.BarChart</tag-class>
    <body-content>empty</body-content>
    <attribute>
      <name>collection</name>
      <rtexprvalue>true</rtexprvalue>
      <required>true</required>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>category</name>
      <rtexprvalue>true</rtexprvalue>
      <required>true</required>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>value</name>
      <rtexprvalue>true</rtexprvalue>
      <required>true</required>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>title</name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>serie</name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>orientation</name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>stacked</name>
      <rtexprvalue>true</rtexprvalue>
      <type>boolean</type>
    </attribute>
    <attribute>
      <name>showlegend</name>
      <rtexprvalue>true</rtexprvalue>
      <type>boolean</type>
    </attribute>
    <attribute>
      <name>legendposition</name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>resolution</name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>lblformat </name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>colors</name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>maxscale</name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.Integer</type>
    </attribute>
  </tag>
  <tag>
    <name>line</name>
    <tag-class>org.netbeans.web.tags.LineChart</tag-class>
    <body-content>empty</body-content>
    <attribute>
      <name>collection</name>
      <rtexprvalue>true</rtexprvalue>
      <required>true</required>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>category</name>
      <rtexprvalue>true</rtexprvalue>
      <required>true</required>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>value</name>
      <rtexprvalue>true</rtexprvalue>
      <required>true</required>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>title</name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>serie</name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>showlegend</name>
      <rtexprvalue>true</rtexprvalue>
      <type>boolean</type>
    </attribute>
    <attribute>
      <name>legendposition</name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>resolution</name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>lblformat </name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>colors</name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <description>Show X axis labels</description>
      <name>showxaxislabel</name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.Boolean</type>
    </attribute>
    <attribute>
      <description>Show Y axis labels</description>
      <name>showyaxislabel</name>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.Boolean</type>
    </attribute>
  </tag>
</taglib>
