#answerList {
	border-collapse: collapse;
	border:0px;
	padding:0px;
	margin:0px;
}

#answerList td {
	border:1px solid;
	padding: 2px 25px 2px 5px;
	text-align:right;
}


#answerList th {
	border:1px solid;
	font-weight: bold;
	background-color: #ADB8C8;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 3px;
	padding-bottom:3px;
	width:220px;
}

.answerLine1 {
	background-color: #DDDDDD;
}