</div>

<div class="floatleft"><img src="images/bottomleft.png" width="16" height="18" alt="" /></div>
<div id="bottommiddle"></div>
<div class="floatright"><img src="images/bottomright.png" width="16" height="18" alt="" /></div>

<div class="horzspacer"></div>
<div id="footerwrapper">
  <div id="footerleft">The Sonified Omniscient Debugger in NetBeans<br /><small>
      Copyright &copy; 2010. Art and Design by Andreas Stefik and Ben Sisson</small>
  </div>
  <div id="footerright">

  
      <a href="http://java.com/en/dukeschoice/">
          <img src="images/duke.gif" alt="A logo from Oracle indicating that 
                            Sodbeans won the 2011 Java innovation award." /></a>
  </div>
</div>
<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://sourceforge.net/apps/piwik/sodbeans/" : "http://sourceforge.net/apps/piwik/sodbeans/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://sourceforge.net/apps/piwik/sodbeans/piwik.php?idsite=1" style="border:0" alt=""/></p></noscript>
<!-- End Piwik Tag -->
</body></html>